.flexbox
{
    display:flex;
    flex-direction: column;
    text-align: justify;
    
  
   

}


#editText
{
    text-align: justify;
}

#editHeader
{
    text-align: center;
    padding-top: 180px;
    padding-left: 600px;
    position: fixed;

}


.editList
{
 
  padding-right: 200px;
  padding-top: 230px;
  padding-left: 350px;
  font-size: 20px;
  
}


#button-color
{
    background-color: black;
    color: white;
    width: 160px;
    height: 34px;
    font-size: 12px;
}



#position-div
{
    position: absolute;
    padding-left: 1000px;
    padding-top: 250px;
    font-size: 20px;

}

#TextValue
{
height: 24px;
width: 160px;
}



